.lnb {
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  &-list {
    @include flexbox(start);
    width: 100vw;
    position: relative;
    height: 40px;
    margin-left: -15px;
    padding-left: 8px;
    border-bottom: 1px solid $border;
  }

  &-item {
    flex-shrink: 0;
    flex-grow: 0;

    &.is-active {
      a {
        color: $blue;
        border-bottom: 2px solid $blue;
      }
    }

    a {
      @include inline-flexbox;
      @include text-style(13, $dark);
      font-weight: 700;
      padding: 0 8px;
      height: 40px;
      border-bottom: 2px solid transparent;
    }

    i {
      color: $red;
    }
  }

  @include responsive(T) {
    border-bottom: 1px solid $border;
    overflow-x: visible;
    height: 50px;

    &-list {
      height: auto;
      padding: 0;
      margin-left: 0;
      border-bottom: 0;
    }

    &-item {
      a {
        @include text-style(14);
        height: 50px;
      }
    }
  }
}
